@import url('variables.css');



/* Estilos para tablets en posición vertical */
@media screen and (min-width: 577px) {
}

/* Estilos para tablets en posición horizontal */
@media screen and (min-width: 768px) {
    img {
        width: 40%
    }

    .service-img {
        width: 50%;
    }
}

/* Estilos para laptops y computadoras de escritorio */
@media screen and (min-width: 992px) {

    * {
        font-size: var(--font-size-desktop);
    }

    header {
        padding: 20px 50px;
    }

    img {
        width: 30%;
    }

    h1 {
        font-size: 3rem;
    }

    h6 {
        font-size: 1.2rem;
    }

    .menu-icon {
        display: none;
    }

    .navbar {
        transform: none;
        position: static;
        width: auto;
    }

    .navbar li {
        margin-top: 0;
    }
    
    a {
        font-size: 0.8rem;
    }

    .navbar ul{
        display: flex;
        gap: 19px;
    }

    section {
        flex-direction: row;
        justify-content: center;
        gap: 10%;
    }

    .section-info {
        width: 31%;
        align-items: start;
        text-align: start;
    }

    .about-section {
        flex-direction: row-reverse;
    }

    .about img {
        width: 25%;
    }

    .menu-section, .service-section {
        flex-direction: column;
    }
    
    .menu, .service-info, .quality {
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .menu-cards, .services, .contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu-cards {
        width: 75%;
    }

    .card {
        width: 30%;
    }

    .card p {
        font-size: 1rem;
    }

    .card span {
        font-size: 0.9rem;
    }

    .service p {
        font-size: 0.8rem;
    }

    .service-img {
        width: 50%;
    }

    .quality {
        width: 85%;
        padding: 50px 0;
    }

    .quality p {
        font-size: 2rem;
    }

    .contact-section {
        align-items: start;
        padding: 0 10%;
    }

    .contact {
        width: auto;
        margin: 0;
    }

    .contact-section i {
        font-size: 1.2rem;
    }

    .contact a {
        font-size: 0.8rem;
    }

    hr {
        width: 4vw;
    }
}

/* Estilos para pantallas más grandes */
@media screen and (min-width: 1200px) {

    h1 {
        font-size: 3.5rem;
    }

}