
:root {
    --font-size-base: 16px;
    --font-size-desktop: 22px;
    --color-primary-text: #ff702a;
    --color-secondary-text: #fff;
    --color-tertiary-text: #000;
    --color-icons: #087f5b;
    --color-background: #1e1d2b;
    --color-background-menu: #2c2b47;
    --color-background-cards: #ffefe8;
}